.content {
    margin-left: 5rem;
    margin-top: 29px;
    position: absolute;
    color: white;
    display: flex;
}

body {
    background-color: #21252B;
}

.config {
    width: 100;
    background-color: aqua;
}

.dashboard {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    padding-left: 2rem;
    padding-top: 2rem;
}