@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #21252B;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.titlebar {
  -webkit-app-region: drag
}

.titlebar_none {
  -webkit-app-region: no-drag
}

.main_cnt {
  zoom: reset;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  transform: rotate(0deg);
  transition-property: transform;
  transition-duration: 500ms;
}

.loader-spin {
  animation: spin 1s linear infinite;
  animation-delay: 150ms;
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/