.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 5rem;
  background-color: aquamarine;
}

.Sidebar:hover {
  width: 10rem;
  transition: width 400ms;
}