.App {
  width: 100vw;
  height: 100vh;
  background-color: #21252B;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100vh;
  width: 5rem;
  background-color: #282C34;
  transition: width 200ms;
  position: relative;
  -webkit-app-region: no-drag;
}


.Sidebar:hover {
  width: 12rem;
  transition: width 400ms;
  position: absolute;
}


.SidebarList {
  height: auto;
  padding: 0;
  margin: 0;
  width: 100%;
}


.SidebarList .row {
  width: 100%;
  height: 4rem;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  display: none;
  white-space: nowrap;
}

.SidebarList .row:last-child {
  margin-top: auto;
}


.Sidebar:hover #title {
  display: block;
  transition: 2000ms;
}


.SidebarList .row:hover {
  cursor: pointer;
  background-color:#21252B;
  border-radius: 6px;
  width: 95%;
  margin-left: 5px;
}

.dragRegion {
  height: 29px;
  background-color: bisque;
  opacity: 0.1;
  position: absolute;
  margin: 0;
  width: 100%;
  -webkit-app-region: drag;
}