@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.titlebar {
  -webkit-app-region: drag
}

.titlebar_none {
  -webkit-app-region: no-drag
}

.main_cnt {
  zoom: reset;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  transform: rotate(0deg);
  transition-property: transform;
  transition-duration: 500ms;
}

.loader-spin {
  animation: spin 1s linear infinite;
  animation-delay: 150ms;
}